<h1>ALL MY BOOKINGS</h1>

<% current_user.teacher_bookings.each do |booking| %>
  <h3><%=link_to booking.offer.title.capitalize, offer_booking_path(booking.offer.id, booking.id) %></h3>
  <p><%=booking.start_time%></p>
  <p><%=booking.end_time%></p>
  <p><%=booking.offer.description.capitalize%></p>
<%end%>



<%= link_to "HOME", root_path%>
<%= link_to "All Offers ", offers_path%>
