<div class="p-3 m-3">

  <div>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <h1>ALL MY BOOKINGS</h1>
      <h2>Bookings on my offers</h2>
    </div>
    <div>
      <% current_user.teacher_bookings.each do |booking| %>
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h3><%=link_to booking.offer.title.capitalize, offer_booking_path(booking.offer.id, booking.id) %></h3>
          <p><%=booking.start_time%></p>
          <p><%=booking.end_time%></p>
          <p><%=booking.offer.description.capitalize%></p>
          <p><%=booking.status%></p>
        </div>
      <%end%>
    </div>
  </div>
</div>
