<h1>ALL BOOKINGS</h1>
<ul>


<% @bookings.each do |booking| %>
  <%=  booking.start_time  %>
  <%=  booking.end_time  %>
  <h3><%=  booking.offer.title  %></h3>
  <p><%=  booking.offer.description  %></p>
<% end %>
</ul>


<%= link_to "HOME", root_path%>
<%= link_to "All Offers ", offers_path%>
