<h1>ALL BOOKINGS</h1>
<ul>
<% @bookings.each do |booking| %>
  <li><%=  booking.start_time  %></li>
  <li><%=  booking.end_time  %></li>
  <li><%=  booking.offer.title  %></li>
  <li><%=  booking.offer.description  %></li>
<% end %>
</ul>


<%= link_to "HOME", root_path%>
<%= link_to "all offers ", offers_path%>
