<h3><%=link_to @booking.offer.title.capitalize, offer_booking_path(@booking.offer.id, @booking.id) %></h3>
<p><%=@booking.offer.description.capitalize%></p>
<%= @booking.start_time%>
<%= @booking.end_time%>

<p><%= link_to "All Bookings", offer_bookings_path %></p>
<p><%= link_to "Delete Booking", booking_path%></p>

<p><%= link_to "HOME", root_path%></p>
<p><%= link_to "All Offers ", offers_path%></p>
