
<div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded">
  <h3><%=link_to @booking.offer.title.capitalize, offer_booking_path(@booking.offer.id, @booking.id), class: "booking-title" %></h3>
  <p><%=@booking.offer.description.capitalize %></p>
    <p><%=@booking.offer.category.capitalize%></p>

  <%= @booking.start_time%>
  <%= @booking.end_time%>

  <p><%= button_to "Delete Booking", booking_path(@booking.id), method: :delete, data: {confirm: "Are you sure"}, class: "button-pushable"%></p>
</div>
