<h3><%=link_to @booking.offer.title.capitalize, offer_booking_path(@booking.offer.id, @booking.id) %></h3>
<p><%=@booking.offer.description.capitalize%></p>
<%= @booking.start_time%>
<%= @booking.end_time%>
<%= @booking.status %>
<p><%= link_to "All Bookings", bookings_path %></p>
<p><%= button_to "Delete Booking", booking_path(@booking.id), method: :delete, data: {confirm: "Are you sure"}%></p>

<p><%= link_to "HOME", root_path%></p>
<p><%= link_to "All Offers ", offers_path%></p>
<div class="dropdown">
