<html>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class ="container d-flex align-items-center justify-content-between py-2">
    <a class="navbar-brand" href=<%= root_path %>>Consultify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to "All offers", offers_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
        <li class="nav-item">
        <%= link_to "My offers", offers_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
        <li class="nav-item">
        <%= link_to "My bookings", offers_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
        <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for your next consultation" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Consultify</a>
  </div>
</nav>
<body class="signup">
<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="box col-12 col-md-6 col-lg-4">
      <h2 class="text-center mb-5">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
      <div class="form-buttons">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
