<div class="container pt-3" >
  <h5 class="display-12 text-center"> Popular Categories</h5>
   <div class="btn-group d-flex align-items-center justify-content-center pt-2">
    <% @categories.each do |category| %>
      <h3><%=  link_to category.capitalize, offers_path(category: category), class: "m-1 btn btn-success btn-sm"  %></h3>
    <%end%>
    <%if @categories.count <= 1%>
    <h3><%=  link_to "More Categories", offers_path, class: "m-1 btn btn-success btn-sm"  %></h3>
    <%end%>
  </div>
  <div class="container d-flex align-items-center justify-content-center pt-1">
    <% if current_user.teacher? %>
      <p><%=  link_to "Create a New Offer", new_offer_path, class: "m-3 btn btn-primary btn-sm" %></p>
    <%end%>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-between my-3">
  <div class="p-1 m-1 d-flex flex-wrap">
    <% @offers.each do |offer| %>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= offer.title %></h5>
            <p class="card-text"><%= offer.description %></p>
             <%= link_to offer.title.capitalize, offer_path(offer.id), class: "btn btn-success btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
