<div class="container pt-3" > 
<h5 class="display-10 text-center">Your Saved Offers </h5>

 <div class="container d-flex align-items-center justify-content-center py-2"> 
    <% @offers.each do |offer| %>
      <h3><%=  link_to offer.title.capitalize, offer_path(offer.id), class: "m-1 btn btn-success btn-sm"  %></h3>
    <%end%>
  </div>
  <h5 class="display-12 text-center"> Popular Categories</h5>
   <div class="btn-group d-flex align-items-center justify-content-center pt-2">
    <% @categories.each do |category| %>
      <h3><%=  link_to category.capitalize, offers_path(category: category), class: "m-1 btn btn-success btn-sm"  %></h3>
    <%end%>
    <h3><%=  link_to "More Categories", offers_path, class: "m-1 btn btn-success btn-sm"  %></h3>

  </div>
  <div class="container d-flex align-items-center justify-content-center pt-1">
    <% if current_user.teacher? %>
      <p><%=  link_to "Create a New Offer", new_offer_path, class: "m-3 btn btn-primary btn-sm" %></p>
    <%end%>


    <% if current_user.teacher? %>
      <p><%= link_to "My Offers", teacher_offers_path, class: "m-3  btn btn-primary btn-sm"%></p>
    <% end %>

  </div>
</div>


<section id="gallery">
  <div class="container d-flex align-items-center justify-content-between my-3">
    <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-lg-3 mb-3">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1553440569-bcc63803a83d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1425&q=80" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= offer.title.capitalize %></h5>
            <p class="card-text"><%= offer.description %></p>
            <%= link_to offer.title.capitalize, offer_path(offer.id), class: "btn btn-success btn-sm" %>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</section>
