<div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded" >
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :qualifications %>
    <%= f.input :price %>
    <%= f.submit  %>
  <% end %>
</div>
