<h1>My Offers</h1>

<% @offers.each do |offer| %>
  <% if offer.user_id == current_user.id  %>
    <%= offer.title %>
    <%= offer.description %>
  <% end %>
<%end%>

<%=  link_to "New Offers", new_offer_path %>
<%= link_to "HOME", root_path%>
<%= link_to "all offers ", offers_path%>
