<h2><%= @offer.title.capitalize %></h2>
<h3><%= @offer.description.capitalize %></h3>
<h3><%= @offer.category.capitalize %></h3>
<h3><%= @offer.qualifications.capitalize %></h3>



<% if current_user.teacher? %>
  <%= link_to "Delete",
  offer_path(@offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<% if current_user.teacher? %>
  <%=  link_to "Edit this offer", edit_offer_path(@offer) %>
<% end %>

<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.submit %>
<% end %>
<p><%= link_to "My Offers", teacher_offers_path%></p>
<p><%= link_to "Return to  All Offers ", offers_path%></p>
<p><%= link_to "See your Bookings", bookings_path %></p>
<p><%= link_to "HOME", root_path%></p>
