
<div class="d-flex">
  <div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded col-6" >
    <h2><%= @offer.title.capitalize %></h2>
    <p><%= @offer.description.capitalize %></p>
    <p>CATEGORY - <%= @offer.category.capitalize %></p>
    <p>QUALIFICATIONS - <%= @offer.qualifications.capitalize %></p>
    <p><%= @offer.price %></p>
     <% if @offer.reviews  %>
     <p> Reviews: </p>
     <% @offer.reviews.each do |review| %>
     <p>-<%= review.content.capitalize %>-</p>
    <% end %>
      <% end %>
    <div class="p-1 m-1">
      <% if current_user.teacher? %>
        <%= link_to "Delete this offer",
        offer_path(@offer),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "destroy-button" %>
      <% end %>
    </div>
    <div class="p-1 m-1">
      <% if current_user.teacher? %>
        <%=  link_to "Edit this offer", edit_offer_path(@offer), class: "edit-button" %>
      <% end %>
    </div>
  </div>
  <div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded" >
    <h3>Book this offer</h3>
    <%= simple_form_for [@offer, Booking.new] do |f| %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded">
  <h3>Review</h3>
  <%= render "reviews/review_form", offer: @offer, review: @review %>
  <%= link_to "Back to all offers", offers_path, class: "back-button" %>
</div>
