<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class ="container d-flex align-items-center justify-content-between py-2">
    <a class="navbar-brand" href=<%= root_path %>><strong>Consultify</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to "All offers", offers_path %>
        </li>
        <li class="nav-item">
        <%= link_to "My offers", teacher_offers_path %>
        </li>
        <li class="nav-item">
        <%= link_to "My bookings", bookings_path %>
        </li>
        <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <%=  link_to "Sign up or log-in", new_user_session_path, class:"nav-item" %>
      </ul>
    </div>
  </div>
</nav>
<div class="d-flex">
  <div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded" >
    <h2><%= @offer.title.capitalize %></h2>
    <p><%= @offer.description.capitalize %></p>
    <p><%= @offer.category.capitalize %></p>
    <p><%= @offer.qualifications.capitalize %></p>
    <div class="p-1 m-1">
      <% if current_user.teacher? %>
        <%= link_to "Delete this offer",
        offer_path(@offer),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </div>
    <div class="p-1 m-1">
      <% if current_user.teacher? %>
        <%=  link_to "Edit this offer", edit_offer_path(@offer) %>
      <% end %>
    </div>
  </div>
  <div class="p-3 m-3 shadow p-3 mb-5 bg-white rounded" >
    <h3>Book this offer</h3>
    <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit %>
    <% end %>

  </div>
</div>
