<h2><%= @offer.title %></h2>
<h3><%= @offer.description %></h3>
<h3><%= @offer.category %></h3>
<h3><%= @offer.qualifications %></h3>
<%= link_to "Delete",
  offer_path(@offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "edit form", edit_offer_path(@offer)%>
<%= link_to "return to offers ", offers_path%>
<%= link_to "see your bookings", offer_bookings_path(@offer) %>

<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.submit %>
<% end %>
