<!DOCTYPE html>
<html>
  <head>
    <title>Consultify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class ="container d-flex align-items-center justify-content-between py-2">
    <a class="navbar-brand" href=<%= root_path %>><strong>Consultify</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to "All offers", offers_path, class: "m-1 btn btn-success" %>
        </li>
        <li class="nav-item">
        <%= link_to "My offers", teacher_offers_path, class: "m-1 btn btn-success" %>
        </li>
        <li class="nav-item">
        <%= link_to "My bookings", bookings_path, class: "m-1 btn btn-success" %>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <%=  link_to "Sign up or log-in", new_user_session_path, class:"nav-item" %>
      </ul>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "m-1 btn btn-outline-danger" %>
    </div>
  </div>
</nav>


<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Consultify</a>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
